In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv('iris.data.txt', header=None)
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
label_encoder = LabelEncoder()
df[4] = label_encoder.fit_transform(df[4])

In [5]:
df

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  0
1    4.9  3.0  1.4  0.2  0
2    4.7  3.2  1.3  0.2  0
3    4.6  3.1  1.5  0.2  0
4    5.0  3.6  1.4  0.2  0
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  2
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  2

[150 rows x 5 columns]

In [6]:
X = df[[0,1,2,3]]
y = df[[4]]
X, y

(       0    1    2    3
 0    5.1  3.5  1.4  0.2
 1    4.9  3.0  1.4  0.2
 2    4.7  3.2  1.3  0.2
 3    4.6  3.1  1.5  0.2
 4    5.0  3.6  1.4  0.2
 ..   ...  ...  ...  ...
 145  6.7  3.0  5.2  2.3
 146  6.3  2.5  5.0  1.9
 147  6.5  3.0  5.2  2.0
 148  6.2  3.4  5.4  2.3
 149  5.9  3.0  5.1  1.8

 [150 rows x 4 columns],
      4
 0    0
 1    0
 2    0
 3    0
 4    0
 ..  ..
 145  2
 146  2
 147  2
 148  2
 149  2

 [150 rows x 1 columns])

In [7]:
clf = RandomForestClassifier(max_depth=2, random_state=0)

In [8]:
clf.fit(X, y.values.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [9]:
clf.predict([[5.0, 3.0, 5.0, 2.0]])

array([2])

In [10]:
clf.predict([[5.0, 3.0, 1.0, 2.0]])

array([0])

In [12]:
clf.predict([[5.3, 6.1, 1.0, 4.2]])

array([0])